.cuerpo{
 @extend %cuerp;
}


a{
    text-decoration: none;
  }
  @media screen and (max-width: 768px) {

    .cuerpo{
      @extend %cuerp;
      border-style:none;
      padding: none; 
    }
      
    .mainhead{
      flex-direction: column;
      padding: map-get($estilos, tfuente);
        }
    .cuerpo-sit{
            text-align:map-get($estilos, centro);
           
       }
    }