.contenido{
    padding: map-get($estilos, tfuente);
    display: block;
    @include bordes();
     margin-block-start: map-get($estilos, tfuente);
     margin-block-end: map-get($estilos, tfuente);
     text-align: map-get($estilos, centro);
     word-spacing: 2px;
     
 }