.contenido{
    padding: 10px;
    display: block;
     border-style:double;
     margin-block-start: 10px;
     margin-block-end: 10px;
     text-align: center;
     word-spacing: 2px;
     background-image:linear-gradient(to left, rgb(30, 93, 30), aquamarine);
 }