.mainhead{
    
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 30px;
    z-index: 2;
    font-size: 1.2rem;
    border-style:double;
    background-image:linear-gradient(to left, $verde, $azulm);
    padding: 1px;
    list-style: none;
    .logo{
        text-decoration: none;
        font-size: 1.8em;
        color: rgb(14, 55, 5);
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        margin-right: 5px;
        background-color: greenyellow;
         
     }

    
}
